.card {
  width: 350px;
  background-color: #fff;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 10px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.top-tag {
  width: 30%;
  height: fit-content;
  padding: 5px 7px;
  border-radius: 50px;
  text-align: center;
}
.available {
  background-color: #58d48f;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}
.work {
  background-color: #d47958;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}
.pay {
  background-color: #9999997e;
}

.pic {
  background-color: transparent;
  width: 155px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-top: 18px;
  overflow: hidden;
  padding: 2px;
  border: 2px solid #888;
}
.pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.center {
  width: 100%;
  text-align: center;
}

.info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.username {
  font-weight: 500;
}
.designation {
  color: #555;
  font-weight: 500;
}
.freelancer {
  color: #31c781;
  font-weight: 400;
}
.compny {
  color: #54a3fd;
  font-weight: 400;
}

.tags-container {
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 4px;
}
.tags-container .tags {
  display: flex;
  gap: 8px;
}

.tags p {
  background-color: #9999995f;
  padding: 3px 10px;
  border-radius: 50px;
  border: 1px solid #999;
  font-size: 13.5px;
  font-weight: 500;
  text-align: center;
}

.exp p {
  color: #fff;
  background-color: #52acf1;
  padding: 3px 10px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.center .description {
  margin: 14px 0;
  text-align: center;
  color: #666;
  line-height: 18px;
}

.btn {
  text-align: center;
  padding-top: 15px;
  border-top: 1px solid #99999977;
}

.btn button {
  width: 100%;
  padding: 12px 0;
  border-radius: 50px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid #52acf1;
  transition: all ease 0.4s;
}

.btn button:hover {
  color: #fff;
  background-color: #52acf1;
  transform: scale(1.05);
}
